
.navitems a{
    text-decoration: none;
    margin-bottom: 0px;
    margin-right:15px;
    font-size: 17px;
}
.navitems a:hover{
    color: rgb(247, 3, 214);
}
.site-name{
    text-decoration: none;
    margin-bottom: 0px;

}
.activeColor{
    border-bottom: 3px solid rgb(94, 255, 0);
}