
.navitems a{
    text-decoration: none;
    margin-bottom: 0px;
    margin-right:15px;
    font-size: 17px;
    color: white;
}
.navitems a:hover{
    color:  rgba(255, 197, 7, 0.966);
    transition: 0.3s;
}
.site-name{
    text-decoration: none;
    margin-bottom: 0px;
color: rgb(0, 255, 106);
}
.site-name:hover{
    color: #25f77c;
}
.activeColor{
    border-bottom: 3px solid  #3b4c86;
}