.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.8rem;
  padding: 20px 0px;
}

.category-card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  /* background-color: #3b4c86; */
  background-color: #b0beee;
}

.category-card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.category-card p {
  margin: 0;
}
.category-icon {
  font-size: 5rem;
  border-radius: 50%;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}
