.footer {
  background-color: #3b4c86;
}

.footer h4,
.footer h3,
.footer p,
.footer a {
  color: gainsboro !important;
}
.footer div a {
  text-decoration: none;
}

.social-icons img {
  width: 48px;
  height: 48px;
}

.footer h4 {
  padding-top: 2rem;
}

.footer img {
  margin-top: 1rem;
}

.footer p {
  margin: 0px;
}
